.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: image-url("old-fashioned.jpg");
  background-size: cover;
  // background-size: contain;
  h1 {
    color: white;
    font-family: garamond;
    margin-bottom: 20px;
  }
  .btn {
    padding: 15px 50px;
    font-family: helvetica;
    font-weight: lighter;
    border-radius: 5px;
    border-color: #1D1007;
    background-color: #1D1007;
    opacity: 0.8;
  }
}

.banner-content {
  display: flex;
  align-self: flex-start;
  padding-top: 10%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
